* {
    box-sizing: border-box;
}

html {
    background-color: black;
    font-size: 62.5%;
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
}

@keyframes load {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

html::before {
    animation: load 1.1s infinite linear;
    border: 0.5rem solid green;
    border-left: 0.5rem solid #FFFFFF;
    border-radius: 50%;
    content: "";
    display: block;
    height: 4rem;
    margin: 5rem auto;
    width: 4rem;
}

body {
    display: none;
    font-family: Roboto;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html.loaded body {
    display: block;
}

html.loaded::before {
    display: none;
}

h1, h2, h3, p {
    margin: 0;
}

#intro {
    background: url("images/banner.jpg") no-repeat center center / cover;
    height: calc(100vh - 5.5rem);
    left: 0;
    top: 0;
    width: 100vw;
}

#intro div {
    color: white;
    height: 100%;
    line-height: 5rem;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.2rem black;
}

#intro img {
    border-radius: 50%;
    height: 25%;
    margin-top: 25vh;
}

#intro h1 {
    font-family: Open Sans;
    font-size: 5rem;
    margin-bottom: 7vh;
}

#intro h2 {
    font-size: 3rem;
    margin-top: 10vh;
}

#story h1 {
    background-color: darkslategray;
    color: white;
    font-size: 3rem;
    padding: 1rem 2rem;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.2rem black;
}

.experience {
    background-color: lightgray;
    padding: 1rem 2rem;
}

.experience a {
    color: blue;
    text-decoration: none;
}

.experience .orgName {
    color: teal;
    font-family: Open Sans;
    font-size: 3rem;
}

.experience h2 {
    color: saddlebrown;
    font-size: 2rem;
    margin-top: 1rem;
}

.experience h3 {
    margin: 1rem 0;
}

.experience p {
    font-size: 1.5rem;
}

.experience .imageContainer {
    width: 22rem;
}

.experience .imageContainer.logo {
    width: 12rem;
}

.experience img {
    width: 100%;
}

footer {
    align-items: center;
    background-color: darkslategray;
    color: white;
    display: block;
    font-size: 1.5rem;
    text-shadow: 0.1rem 0.1rem 0.2rem black;
}

footer div, footer p {
    text-align: center;
}

#contactInfo {
    padding: 2rem 1rem 2rem 2rem;
}

#contactInfo a {
    color: deepskyblue;
    text-decoration: none;
}

#contactInfo a:-webkit-any-link {
    color: deepskyblue;
    text-decoration: none;
}

#links {
    padding: 2rem 1rem;
}

#links a {
    color: white;
    text-decoration: none;
}

footer p {
    padding: 2rem 2rem 2rem 1rem;
}

@media (min-width: 512px) {
    .experience {
        padding: 2rem 5rem;
    }
    .experience header {
        display: flex;
        justify-content: space-between;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 1240px) {
    #intro img {
        height: 35%;
        margin-top: 15vh
    }
}

@media (min-height: 512px) {
    #intro h1 {
        font-size: 7rem;
    }
}